<!DOCTYPE html>
<html lang="en">
<div class="jumbotron">
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Sweet Science</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>  
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 </head>
 <!--Navbar starts here -->
 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!--nav container -->
 <div class="container-fluid">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   </button>
 <div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
  <div class="top-title">
   <a href="#home">The Sweet Science</a>
  </div> <!--end of top-title-->
   <li><%= link_to "home", root_path %></li>
   <li><%= link_to "about", static_pages_about_path %></li>
   <li><%= link_to "contact", static_pages_contact_path %></li>
   <li><%= link_to "products", products_path %></li>
   </ul>
    </div> <!--end of navbar collapse-->
   </div> <!--end of navbar-header-->
  </div> <!--end of container-fluid-->
 </div> <!--end ofnavbar-inverse-->
<!--Navbar ends here -->  
 <div class="container-fluid">
   <div class="row">
    <h1>The Sweet Science</h1>
    <h3>Your source for vintage boxing memorabilia</h3>
   </div>
 </div>
</div>
<body>

<%= yield %>

</body>
</html>
